.Empimage {
    width: 50%;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
   top: -55px;
}

.marginCard {
    margin-top: 55px;
}

.paddingBt {
    padding-top: 50px;
}

ion-card {
    overflow: unset !important;
}

.labelInicio{
    color: #0055a4! important;
}
